#mode{
    background-color: black;
    color: white;
    border-radius: 5%;
}
#mode1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    background-image: url('./clock-face-white-background-12-hours-watch-dial-with-round-scale-vector-illustration_515038-9691.avif');
    background-size: contain;
    background-color: rgb(236, 141, 141);
    border-radius: 100%;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.circle{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondHandCircle{
    width: 300px;
    height: 300px;
}
.secondsHand{
    
    position: fixed;
    height: 300px;
  
}
.shand{
  width: 0;
  height: 0;
  border: 1.5px solid transparent;
  border-bottom: 150px solid red;
  position: relative;
  background-color: transparent;
  
}
/* .shand:after {
  content: '';
  position: absolute;
   left: 20px;
  
  top: 75px;
  width: 0;
  height: 0;
  border: 1.5px solid transparent;
  border-top: 75px solid red;
}  */
.minHandCircle{
    width: 200px;
    height: 200px;
}
.minHand{
    
    position: fixed;
    height: 200px;
    
}
.mhand{
  width: 0;
  height: 0;
  border: 1.5px solid transparent;
  border-bottom: 100px solid blue;
  position: relative;
  background-color: transparent;
  /* top: -50px; */
}
.hourHandCircle{
    width: 100px;
    height: 100px;
}
.hourHand{
    
    position: fixed;
    height: 100px;
    
}
.hhand{
  width: 0;
  height: 0;
  border: 1.5px solid transparent;
  border-bottom: 50px solid green;
  position: relative;
  background-color: transparent;
 
}
